<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
  </head>
  <body>
    <div class="header">
      <div class="header-menu">
        <a class="left" href="/">台北一日遊</a>
        <div class="right">
            <a class="menu">預定行程</a>
            <a class="menu">登入/註冊</a>
        </div>
      </div>
    </div>

    <div class="reserve">
      <div id="slider" class="slider">
        <div id="slider-scroll" class="slider-scroll">
            <div id="slider-main" class="slider-main">
            </div>
            <span id="next" class="next"></span>
            <span id="prev" class="prev"></span>
        </div>
        <div id="slider-index" class="slider-index">
        </div>
        <div id="slider-button" class="slider-button">
        </div>
    </div>
        <div class="reserve-info">
            <div class="spot-name"></div>
            <div class="spot-category"></div>
            <div class="reserve-background">
                <div class="reserve-content">
                    <div class="reserve-title">訂購導覽行程</div>
                    <div class="reserve-text">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    <div class="reserve-date">選擇日期：
                      <input type="date">
                    </div>
                    <div class="reserve-time">選擇時間：
                        <div class="radio-item">
                          <input type="radio" name="select-time" id="morning" value="新台幣 2000 元">
                          <label for="morning"><span class="select-text">上半天</span></label>
                        </div>
                        <div class="radio-item">
                          <input type="radio" name="select-time" id="afternoon" value="新台幣 2500 元">
                          <label for="afternoon"><span  class="select-text">下半天</span></label>
                        </div>
                    </div>
                    <div class="reserve-cost">導覽費用：<span id="dollar"></span></div>
                    <button class="reserve-button">開始預訂行程</button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="spot-content">
      <div class="spot-description"></div>
      <div class="spot-address">景點地址：
        <div class="spot-address-text"></div>
      </div>
      <div class="spot-transport">交通方式：
        <div class="spot-transport-text"></div>
      </div>
    </div>

    <div class="footer">
        <div class="footer-text">COPYRIGHT © 2022 台北一日遊</div>
    </div>

    <script  type="text/javascript" src=""></script>
    <script>
      const url = new URL(window.location.href)
      let string=url.pathname;
      let spot_id=string.replace("/attraction/",""); //刪除字串中的特定字串
      let open_url="/api/attraction/"+spot_id;
  
      get_data(open_url).then(function(data){
        render(data);
        let images=data.data.images;
        for(i=0;i<images.length;i++){
          render_images(data)
        };
        render_button(data);
      });
      
      let select_time= document.querySelectorAll('input[type=radio][name="select-time"]');
      select_time.forEach(radio => radio.addEventListener('change', () =>{
        let dollar=document.getElementById("dollar");
        dollar.textContent=radio.value
      }));
  
      function get_data(url){
        return fetch(url)
        .then(function(response){
          return response.json()
        });
      }
      function render(data){
        let name=data.data.name;
        let mrt=data.data.mrt;
        let category=data.data.category;
        let description=data.data.description;
        let address=data.data.address;
        let transport=data.data.transport;
        let spot_name=document.querySelector(".spot-name");
        let spot_mrt=document.querySelector(".spot-mrt");
        let spot_category=document.querySelector(".spot-category");
        let spot_description=document.querySelector(".spot-description");
        let spot_address=document.querySelector(".spot-address-text");
        let spot_transport=document.querySelector(".spot-transport-text");
        spot_name.textContent=name;
        spot_category.textContent=category+" at "+mrt;
        spot_description.textContent=description;
        spot_address.textContent=address;
        spot_transport.textContent=transport;
      }
  
      function render_images(data){
        let images=data.data.images;
        let slider_main=document.getElementById("slider-main");
        let div=document.createElement("div"); 
        let img=document.createElement("img");
        slider_main.appendChild(div);
        div.setAttribute("class","item");
        div.setAttribute("id","item-"+i);
        let item=document.getElementById("item-"+i);
        img.src=images[i];
        item.appendChild(img);
      }
  
  
      function render_button(data){
        let slider=document.getElementById("slider");
        let slider_main=document.getElementById("slider-main");
        let allboxs=slider_main.children;
        let next=document.getElementById("next");
        let prev=document.getElementById("prev");
        let slider_button=document.getElementById("slider-button");
        let now=0;
        for(let i=0;i<allboxs.length;i++){
            let label=document.createElement("label");
            if(i===0){
                label.className="slider-button-icon current";
            }else{
              label.className="slider-button-icon";
            }
            slider_button.appendChild(label)
        };
        let scroll_w=parseInt(window.getComputedStyle(slider,null).getPropertyValue("width"));/*轉換成數值*/
        for(let j=1;j<allboxs.length;j++){
            allboxs[j].style.left=scroll_w+"px";
        }
        next.onclick=function(){
            allboxs[now].style.left=-scroll_w+"px";
            now=now+1;
            if(now>=allboxs.length){
                now=0;
            }
            allboxs[now].style.left=scroll_w+"px";
            allboxs[now].style.left=0;
            change_button();
        }
        prev.onclick=function(){
            allboxs[now].style.left=scroll_w+"px";
            now=now-1;
            if(now<0){
                now=allboxs.length-1;
            }
            allboxs[now].style.left=-scroll_w+"px";
            allboxs[now].style.left=0;
            change_button();
        }
        function change_button(){
            for(let i=0;i<slider_button.children.length;i++){
              slider_button.children[i].className="slider-button-icon";
            }
            slider_button.children[now].className="slider-button-icon current";
  
        }
      }
    </script>
  </body>
</html>