{% extends "base.html" %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="../static/css/booking.css">
{% endblock %}

	{% block main %}
	<div class="reserve">
		<div class="reserve-wrapper">
		<div class="reserve-title">您好，<span id="reserve-name"></span>，待預訂的行程如下：</div>
		<div class="reserve-false">目前沒有任何待預訂的行程</div>
		<div class="reserve-container">
			<div class="photo-frame"><img class="spot-photo"/></div>
			<div class="reserve-content">
			<div class="title">台北一日遊：<span id="title-text"></span></div>
			<div class="date">日期：<span class="date-text"></span></div>
			<div class="time">時間：<span class="time-text"></span></div>
			<div class="cost">費用：<span class="cost-text">新台幣 <span id="cost-dollar"></span> 元</span></div>
			<div class="address">地點：<span class="address-text"></span></div>
			</div>
			<a class="delete" onclick=delete_booking()><img src="../static/pic/icon_delete.png"></a>
		</div>
		</div>
	</div>
	<div class="user-wrapper">
		<hr/>
		<div class="user-container">
		<div class="user-content">
			<div class="user-info">您的聯絡資訊</div>
			<div class="user-name">聯絡姓名：<input type="text" id="username" readonly="true"></div>
			<div class="user-email">連絡信箱：<input type="email" id="user-email" readonly="true"></div>
			<div class="user-phone">手機號碼：<input type="phone" id="user-phone" placeholder="0912345678"><img id="checkbox" src="../static/pic/bx-check.png"/></div>
			<div class="user-text">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
		</div>
		</div>
		<hr/>
		<div class="credit-container">
		<div class="credit-content">
			<div class="credit-info">信用卡付款資訊</div>
			<div class="credit-block">
				<label class="credit-number">卡片號碼：</label>
				<div id="credit-number"></div>
			</div>
			<div class="credit-block">
				<label class="credit-date">過期時間：</label>
				<div id="credit-date"></div>
			</div>
			<div class="credit-block">
				<label class="credit-password">驗證密碼：</label>
				<div id="credit-password"></div>
			</div>
		</div>
		</div>
		<hr/>
		<div class="pay-container">
			<div class="pay-content">
				<span class="pay-false" id="pay-false"></span><div class="pay-total">總價：新台幣 <span id="pay-dollar"></span> 元</div>
				<button class="pay-button" onclick=orders()>確認訂購並付款</button>
			</div>
		</div>
	</div>
	{% endblock %}

{% block JavaScript %}
<script type="text/javascript" src="../static/javascript/booking.js"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
<script type="text/javascript" src="../static/javascript/orders.js"></script>
{% endblock %}