<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/layout_index.css">
  </head>
  <body>
    <div class="header">
      <div class="header-menu">
        <div class="left">台北一日遊</div>
        <div class="right">
            <a class="menu">預定行程</a>
            <a class="menu">登入/註冊</a>
        </div>
      </div>
    </div>
    <div class="welcome">
      <div class="welcome-content">
        <div class="welcome-title">輕鬆享受台北一日悠閒</div>
        <div class="welcome-text">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search-bar">
            <input type="text" id="keyword" placeholder="輸入景點名稱查詢">
            <button class="search-btn" id="search">
              <img src="../static/icon_search.png"/>
            </button>
        </div>
      </div>
    </div>
    <div class="container" id="container"></div>
    <div class="container" id="container-keyword"></div>
    <div class="footer">
        <div class="footer-text">COPYRIGHT © 2022 台北一日遊</div>
    </div>

    <script>
      let page=0
      let openUrl="http://18.214.58.137:3000/api/attractions?page=";
      get_data(openUrl,page).then(function(data){
        for(let i=0; i<data.data.length; i++){
          render_spots(i,page,data)
        };
        let next_page=data.nextPage;
        page=next_page
        window.addEventListener("scroll",(e)=>{
          let scrollable=document.documentElement.scrollHeight-window.innerHeight
          let scrolled=window.scrollY
          let scrolling = false;
          if(Math.ceil(scrolled)==scrollable){
            if(page){
              let timeout=window.setTimeout(get_data(openUrl,page).then(function(data){
                scrolling = true;
                if(scrolling){
                  scrolling = false;
                  for(let i=0; i<data.data.length; i++){
                  render_spots(i,page,data)
                  }
              next_page=data.nextPage;
              page=next_page;
                }
              }),5000);
            }
          }})
      }) 
      
      let search=document.getElementById("search");
      search.addEventListener('click',(e)=>{
        let keyword_page=0;
        let keyword=document.getElementById("keyword").value;
        let open_url="http://18.214.58.137:3000/api/attractions?page="+keyword_page+"&keyword=";
        get_keyword_data(open_url,keyword_page,keyword).then(function(data){
          if(data.data.length>0){
            document.getElementById("container").style.display="none";
            let element=document.getElementById("container-keyword"); 
            if(document.querySelector(".keyword-spot-box")){
              while (element.firstChild){
                element.removeChild(element.firstChild);
              }
              for(let i=0; i<data.data.length; i++){
                render_keyword_spots(i,keyword_page,data)
              }
              let keyword_next_page=data.nextPage;
              keyword_page=keyword_next_page;
              window.addEventListener("scroll",(e)=>{
                let scrollable=document.documentElement.scrollHeight-window.innerHeight
                let scrolled=window.scrollY
                let scrolling = false;
                if(Math.ceil(scrolled)==scrollable){
                  if(keyword_page){
                    open_url="http://18.214.58.137:3000/api/attractions?page="+keyword_page+"&keyword=";
                    let timeout=window.setTimeout(get_keyword_data(open_url,keyword_page,keyword).then(function(data){
                    scrolling = true;
                      if(scrolling){
                        scrolling = false;
                        for(let i=0; i<data.data.length; i++){
                        render_keyword_spots(i,keyword_page,data)
                        };
                        keyword_next_page=data.nextPage;
                        keyword_page=keyword_next_page;
                      }
                    }),5000);
                  }
                }
              })
            }
            else if(document.querySelector(".keyword-spot-box")==null){
              element.textContent="";
              for(let i=0; i<data.data.length; i++){
                render_keyword_spots(i,keyword_page,data);
              }
              let keyword_next_page=data.nextPage;
              keyword_page=keyword_next_page;
              window.addEventListener("scroll",(e)=>{
                let scrollable=document.documentElement.scrollHeight-window.innerHeight
                let scrolled=window.scrollY
                let scrolling = false;
                if(Math.ceil(scrolled)==scrollable){
                  if(keyword_page){
                    open_url="http://18.214.58.137:3000/api/attractions?page="+keyword_page+"&keyword=";
                    let timeout=window.setTimeout(get_keyword_data(open_url,keyword_page,keyword).then(function(data){
                    scrolling = true;
                      if(scrolling){
                        scrolling = false;
                        for(let i=0; i<data.data.length; i++){
                        render_keyword_spots(i,keyword_page,data)
                        };
                        keyword_next_page=data.nextPage;
                        keyword_page=keyword_next_page;
                      }
                    }),5000);
                  }
                }
              })
            }
          }
          else if(data.data.length==0){
            document.getElementById("container").style.display="none";
            let element=document.getElementById("container-keyword"); 
            if(document.querySelector(".keyword-spot-box")){
              while (element.firstChild){
                element.removeChild(element.firstChild);
              };
              element.textContent="查無此景點"
            }
            else{
              element.textContent="查無此景點"
            }
          }
        });
      })


      function get_data(url,page){
        return fetch(url+page)
        .then(function(response){
          return response.json()})
      }
      function get_keyword_data(url,page,keyword){
        return fetch(url+keyword)
        .then(function(response){
          return response.json()})   
      }
      function render_spots(i,page,data){
          let box_name=i+page*12
          let name=data.data[i].name;
          let src=data.data[i].images[0];
          let mrt=data.data[i].mrt;
          let category=data.data[i].category;
          let div=document.createElement("div"); 
          let img=document.createElement("img");
          let container=document.getElementById("container"); 
          container.appendChild(div);
          div.setAttribute("class","spot-box");
          div.setAttribute("id","spot-box-"+box_name);
          let spot_box=document.getElementById("spot-box-"+box_name);
          let div_name=document.createElement("div"); 
          let div_info=document.createElement("div"); 
          img.src=src;
          div_name.textContent=name;
          spot_box.appendChild(img);
          spot_box.appendChild(div_name);
          spot_box.appendChild(div_info);
          img.setAttribute("class","spot-img");
          div_name.setAttribute("class","spot-name");
          div_info.setAttribute("class","spot-info");
          div_info.setAttribute("id","spot-info"+box_name);
          let spot_info=document.getElementById("spot-info"+box_name); 
          let div_mrt=document.createElement("div");
          let div_category=document.createElement("div");
          div_mrt.textContent=mrt;
          div_category.textContent=category;
          spot_info.appendChild(div_mrt);
          spot_info.appendChild(div_category);
          div_mrt.setAttribute("class","spot-mrt");
          div_category.setAttribute("class","spot-category"); 
      }
      function render_keyword_spots(i,keyword_page,data){
          let box_name=i+keyword_page*12
          let name=data.data[i].name;
          let src=data.data[i].images[0];
          let mrt=data.data[i].mrt;
          let category=data.data[i].category;
          let div=document.createElement("div"); 
          let img=document.createElement("img");
          let container=document.getElementById("container-keyword"); 
          container.appendChild(div);
          div.setAttribute("class","keyword-spot-box");
          div.setAttribute("id","keyword-spot-box-"+box_name);
          let spot_box=document.getElementById("keyword-spot-box-"+box_name);
          let div_name=document.createElement("div"); 
          let div_info=document.createElement("div"); 
          img.src=src;
          div_name.textContent=name;
          spot_box.appendChild(img);
          spot_box.appendChild(div_name);
          spot_box.appendChild(div_info);
          img.setAttribute("class","spot-img");
          div_name.setAttribute("class","spot-name");
          div_info.setAttribute("class","spot-info");
          div_info.setAttribute("id","spot-info"+box_name);
          let spot_info=document.getElementById("spot-info"+box_name); 
          let div_mrt=document.createElement("div");
          let div_category=document.createElement("div");
          div_mrt.textContent=mrt;
          div_category.textContent=category;
          spot_info.appendChild(div_mrt);
          spot_info.appendChild(div_category);
          div_mrt.setAttribute("class","spot-mrt");
          div_category.setAttribute("class","spot-category"); 
      }
    </script>
  </body>
</html>