<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Taipei Trip 台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/layout_index.css">

  </head>
  <body>
    <div class="header">
      <div class="header-menu">
        <div class="left">台北一日遊</div>
        <div class="right">
            <div class="menu">預定行程</div>
            <div class="menu">登入/註冊</div>
        </div>
      </div>
    </div>

    <div class="welcome">
      <div class="welcome-content">
        <div class="welcome-title">輕鬆享受台北一日悠閒</div>
        <div class="welcome-text">探索每個角落，體驗城市的深度旅遊行程</div>
        <div class="search-bar">
            <input type="text" placeholder="輸入景點名稱查詢">
            <button class="search-btn">
              <img src="../static/icon_search.png"/>
            </button>
        </div>
      </div>
    </div>

    <div class="container" id="container">
      <!-- <div class="spot-box">
        <img class="spot-img" src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/A0/B0/C0/D0/E197/F326/5e2be319-957c-4eff-bf29-a2a71c931260.JPG"/>
        <div class="spot-title">華中河濱公園</div>
        <div class="spot-info">
          <div class="spot-mrt">龍山寺</div>
          <div class="spot-category">戶外踏青</div>
        </div>
      </div> -->
    </div>

    <div class="footer">
        <div class="footer-text">COPYRIGHT © 2022 台北一日遊</div>
    </div>

    <script>
      let page=0
      let openUrl="http://18.214.58.137:3000/api/attractions?page="+page;
      fetch(openUrl).then(function(response){
        return response.json();
      }).then(function(data){
          console.log(data)
          let name=data.data[0].name;
          let src=data.data[0].images[0];
          let mrt=data.data[0].mrt;
          let category=data.data[0].category;

          let div=document.createElement("div"); 
          let img=document.createElement("img");

          let container=document.getElementById("container"); 
          container.appendChild(div);
          div.setAttribute("class","spot-box");
          div.setAttribute("id","spot-box-1");

          let spot_box=document.getElementById("spot-box-1");

          spot_box.appendChild(img);
          spot_box.appendChild(div);

                    img.src=src;
          div.textContent=name;

          img.setAttribute("class","spot-img");
          div.setAttribute("class","spot-title");
      })
    </script>
  </body>
</html>